
.navbar{
  background-color: #ffffff;
  height: 60px;
  display: flex;
  align-items: center;
  z-index: 1;
  border-bottom-style: solid;
  justify-content: space-between;
}

.navbar-left-container{
  display:flex;
  align-items: center;
  user-select: none;
}

.navbar-text{
  font-size: 30px;
  padding-right: 10px;
  user-select: none;
}

.menu-bars {
  margin-left: 1rem;
  font-size: 2rem;
  background: none;
  cursor:pointer;
}

.sidebar {
    background-color: #ffffff;
    width: 200px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
  }

.sidebar-order{
  height: 100vh;
  overflow-y: scroll;
}

.sidebar-border{
  bottom: -60px;
  position: absolute;
  width: 100%;
  height: 100vh;
  border-right: solid;
  pointer-events: none
}

.sidebar.active{
  left: 0;
  transition: 350ms;
}

.sidebar-text{
  padding-top: 5px;
  padding-left: 16px;
  padding-bottom: 5px;
  user-select: none;
  border-bottom: #e1e1e1 solid;
}

.sidebar-text-active {
  background-color: #3887be;
  color: #ffffff;
}

.sidebar-toggle{
  background-color: #ffffff;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
}

.order-text{
  font-size: 20px;
  font-weight: bold;
  padding: 8px 0px 8px 16px;
  user-select: none;
  border-bottom: #e1e1e1 solid;
}

.submit-footer {
  width: 200px;
  border-top: solid #000000 ;
  background: #e1e1e1;
  position: absolute;
  bottom: 0;
}

.submit-button {
  background-color: #4CAF50; /* Green */
  padding:5px;
  width: 100%;
  border: none;
  color: white;
  font-size: 16px;
  cursor:pointer;
  user-select: none;
}

.footer-text{
  padding-left: 10px;
  font-weight: bold;
  user-select: none;
}
