.menu-bars {
  margin-left: 1rem;
  font-size: 2rem;
  background: none;
  cursor:pointer;
}

.sidebar {
    background-color: #ffffff;
    width: 200px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
  }


.sidebar-border{
  bottom: -60px;
  position: absolute;
  width: 100%;
  height: 100vh;
  border-right: solid;
  pointer-events: none
}

.sidebar.active{
  left: 0;
  transition: 350ms;
}

.sidebar-toggle{
  background-color: #ffffff;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
}

.order-text{
  font-size: 20px;
  font-weight: bold;
  padding: 8px 0px 8px 16px;
  user-select: none;
  border-bottom: #e1e1e1 solid;
}
